/* Fonts are taken from dafont.com free and GPL fonts except openpanzer font */
/* It's a good idea to convert from TTF to OTF to reduce size except the case */
/* where TTF front contains outlines which aren't rendered when using OTF */

@font-face 
{
	font-family: unitInfo;
	font-weight: bold;
	src: url('../resources/fonts/m04b.TTF') format('truetype');
	/*src: url('../resources/fonts/sg05.ttf') format('truetype');  */ /* Good outlined 10px font could be used */
	/*src: url('../resources/fonts/goldbox.ttf') format('truetype'); /* Good bold and small font looks good */
	/*src: url('../resources/fonts/smwtext2nc.ttf') format('truetype');*/ /* Good bold 10px font looks good */
	/*src: url('../resources/fonts/v5prn.ttf') format('truetype'); */ /*Good bold font */
	/*src: url('../resources/fonts/andina.otf') format('opentype');*/ /* Too thin but otherwise good */
	/* src: url('../resources/fonts/addlg.ttf') format('truetype'); */ /* Interesting BIG numbers*/
	/* src: url('../resources/fonts/bmarmy.ttf') format('truetype'); */ /* Bold font but 1 digit looks bad */
	/* src: url('../resources/fonts/bmsta.ttf') format('truetype');*/ /* Interesting digits are inside a rouded rectangle */
	/* src: url('../resources/fonts/m04b.TTF') format('truetype'); */ /*Same as m04 font without outline 8px*/
	/*src: url('../resources/fonts/m41.TTF') format('truetype'); */ /* Interesting 8px bold font */
	/*src: url('../resources/fonts/m42.TTF') format('truetype'); */ /* Interesting 8px bold font */	
	/*src: url('../resources/fonts/massia.ttf') format('truetype'); */ /* Big bold 10px font */
	/*src: url('../resources/fonts/massiv.ttf') format('truetype'); */ /* Big bold 10px font looks bad */
	/*src: url('../resources/fonts/ponderosa.ttf') format('truetype');  */ /* Big bold 10px font but too much spacing between glyps*/
	/*src: url('../resources/fonts/retrovillenc.ttf') format('truetype'); */ /* 10px font but glyphs curves are too thin */
	/*src: url('../resources/fonts/smwtextnc.ttf') format('truetype'); */ /* Courier like font too thin */
}

@font-face
{
	font-family: coreUnitFont;
	src: url('../resources/fonts/m04.ttf') format('truetype'); /* Good 8px Outlined font */
}

/* font for weather, ground conditions and terrain type */
@font-face
{
    font-family: 'openpanzer';
    src:url('../resources/fonts/openpanzer.ttf') format('truetype'), url('../resources/fonts/openpanzer.svg#openpanzer') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* font for menu widgets */
@font-face
{
    font-family: 'openpanzer-menu';
    src:url('../resources/fonts/openpanzer-menu.ttf') format('truetype'), url('../resources/fonts/openpanzer-menu.svg#openpanzer-menu') format('svg');
    font-weight: normal;
    font-style: normal;
}
