#equipment
{
	position: fixed;
	width: 640px;
	height: 480px;
	left:50%;
	margin-left: -400px;
	top:50%;
	margin-top: -240px;
	color: #fff;
	font-weight:bold;
	font-family: Arial;
	font-size: 12px;
	text-shadow: 0.1em 0.1em 0.2em black;
	background-image: url('../resources/ui/dialogs/equipment/images/eq-bg.png');
	background-repeat: no-repeat;
	z-index:98;
	overflow-y: auto;
	visibility: hidden;
	overflow: hidden;
}

#equipment #container
{
	position: relative;
	border: 0px #fff solid;
}

#eqCurrentUnitList
{
	position: absolute;
	overflow: auto;
	height: 418px;
	width:120px;
	top: 28px;
	left: 504px;
}

#eqUnitList
{
	border: 0px solid #fff;
	position: absolute;
	overflow: auto;
	height: 280px;
	width:250px;
	top: 30px;
	left: 53px;
	float: right;
}

#eqUnitTransport
{
	border: 0px solid #fff;
	position: absolute;
	overflow: auto;
	height: 140px;
	width:250px;
	top: 330px;
	left: 53px;
	float: right;
}

#eqSelClass
{
	border: 0px solid #fff;
	position: absolute;
	overflow: auto;
	height: 370px;
	width:70px;
	top: 105px;
	left: 5px;
	float: right;
}

#eqSelCountry
{
	border: 0px solid #fff;
	position: absolute;
	overflow: hidden;
	margin-top:3px;
	margin-left:2px;
	height: 40px;
	width:21px;
	top: 35px;
	left: 15px;
	background-image: url('../resources/ui/flags/flags_med.png');
	background-repeat: no-repeat;
	background-position: -147px 0px; /*start with german flag 8th flag of 21px each */
	z-index:100;
}

.eqUnitBox
{
	border: 0px solid #fff;
	width: 99px;
	height: 76px;
	background-image: url('../resources/ui/dialogs/equipment/images/unit-box.png');
	background-repeat: no-repeat;
	margin-bottom: 5px;
	margin-right: 5px;
	overflow: hidden;
	position: relative;
	float: right;
}
.eqUnitBox img
{
	/*select the 4th image each 80px wide */
	position: absolute;
	left: -240px;
	clip:rect(0px, 320px, 50px, 240px);
}
.eqUnitBox div
{
	position: absolute;
	top: 56px;
	left: 5px;
	width: 99px;
}
