#equipment
{
	position: fixed;
	width: 290px;
	height: 380px;
	left:50%;
	margin-left: -395px;
	top:50%;
	margin-top: -188px;
	color: #fff;
	font-weight:bold;
	font-family: Arial;
	font-size: 12px;
	text-shadow: 0.1em 0.1em 0.2em black;
	background-image: url('../resources/ui/dialogs/equipment/images/eq-bg.png');
	background-repeat: no-repeat;
	z-index:98;
	visibility: hidden;
	overflow: hidden;	
}

#eqUnitList
{
	border: 0px solid #fff;
	/*Win 7 Chrome bug: specifying the position here leaves the scrolling bars on screen when div is hidden */
	/*
	position: absolute;
	height: 320px;
	width:250px;
	top: 24px;
	left: 30px;
	*/
	height: 321px;
	width:225px;
	margin-top: 20px;
	margin-left: 55px;
	padding-left: 0px;
	float: left;
	overflow: auto;
}

#eqSelClass
{
	border: 0px solid #fff;
	position: absolute;
	overflow: auto;
	height: 340px;
	width:47px;
	top: 45px;
	left: 8px;
	float: right;
	z-index:100;
}

#eqSelCountry
{
	border: 0px solid #fff;
	position: absolute;
	overflow: hidden;
	margin-top:3px;
	margin-left:2px;
	height: 30px;
	width:21px;
	top: 12px;
	left: 20px;
	background-image: url('../resources/ui/flags/flags_med.png');
	background-repeat: no-repeat;
	background-position: -147px 0px; /*start with german flag 8th flag of 21px each */
	z-index:100;
}
#eqSelCountry:hover
{
	top:13px;
	left:21px;
}

#eqOkBut
{
	border: 0px solid #fff;
	position:absolute;
	width: 30px;
	height: 30px;
	top: 343px;
	left: 220px;
}

#eqUpgradeBut
{
	border: 0px solid #fff;
	position:absolute;
	width: 30px;
	height: 30px;
	top: 343px;
	left: 180px;
}

#eqNewBut
{
	border: 0px solid #fff;
	position:absolute;
	width: 30px;
	height: 30px;
	top: 343px;
	left: 140px;
}
#currentPrestige
{
	border: 0px solid #fff;
	position:absolute;
	width: 90px;
	height: 30px;
	top: 350px;
	left: 60px;
	font-weight:bold;
	font-family: Arial;
	font-size: 14px;
}
#currentPrestige img
{
	margin-left: 5px;
	vertical-align:middle;
}

#container-unitlist
{
	border: 0px solid #fff;
	position: fixed;
	min-width: 840px;
	margin-left: -420px;
	left: 50%;
	top: 30px;
	color: #fff;
	font-weight:bold;
	font-family: Arial;
	font-size: 12px;
	text-shadow: 0.1em 0.1em 0.2em black;
	z-index: 98;
}

#hscroll-unitlist
{
	min-width:835px;
	margin:0 auto;
	overflow: auto;
}

#unitlist
{
	float:left;
	padding-left: 5px;
	background: rgba(0,0,0,0.6);
	margin-right: -20000px;
}

.eqUnitBox
{
	border: 0px solid #fff;
	width: 99px;
	height: 76px;
	background-image: url('../resources/ui/dialogs/equipment/images/unit-box.png');
	background-repeat: no-repeat;
	margin-top: 5px;
	margin-right: 5px;
	overflow: hidden;
	position: relative;
	float: left;
}

.eqUnitBox:hover
{
	background-image: url('../resources/ui/dialogs/equipment/images/unit-box-pressed.png');
	background-repeat: no-repeat;
}

.eqUnitBox > img:first-child /*for the unit image*/
{
	/*select the 4th image each ~80px wide */
	position: absolute;
	left: -240px;
	clip:rect(0px, 320px, 50px, 240px);
}

.eqUnitBox img /* other images like currency coin */
{
	margin-left: 2px;
	vertical-align:middle;
}
/* a eqUnitBox that has been clicked on has been set a title */
.eqUnitBox[title]
{
	background-image: url('../resources/ui/dialogs/equipment/images/unit-box-pressed-over.png');
}

.eqUnitBox div
{
	border: 0px solid #fff;
	position: absolute;
	top: 56px;
	left: 5px;
	width: 110px;
	font-weight:normal;
	font-family: Arial;
	font-size: 10px;
	text-shadow: none;
	white-space: nowrap;
}
