#startmenu
{
	position: fixed;
	width: 480px;
	height: 320px;
	left:50%;
	margin-left: -240px;
	top:50%;
	margin-top: -160px;
	color: #f8e064;
	font-weight:bold;
	font-family: Arial;
	font-size: 12px;
	text-shadow: 0.1em 0.1em 0.2em black;
	background-color: black;
	z-index:99;
	display: inline;
	background-image: url('../resources/ui/dialogs/startmenu/images/startmenu.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.mainPanel 
{
	position: absolute;
	top: 10px;
	left: 5px;
	width: 470px;
	height: 300px; 
}

#smCamp { display: none; }
#smScen { display: none; }
#smSettings { display: none; padding-top: 10px;}

#smLogo
{
	position: relative; /* for smLogoText */
	height: 94px;
	background-image: url('../resources/ui/dialogs/startmenu/images/logo.png');
	background-repeat: no-repeat;
	
}
#smLogoText, #smCredits
{
	position:absolute;
	bottom:0;
	right: 5px;
	font-weight: normal;
}

.setting /* a setting line */
{
	width: 200px;
	height: 40px;
	margin: 0px auto 0px auto;
	line-height: 25px;
}
.setting > img { float: right; }

#smButtons /* container of big main buttons */
{
    width: 266px;
    height: 180px;
    margin:0px auto 0px auto;
}

.smMainButton  /* the big main buttons */
{
    width:133px;
    float: left;
}
.smMainButtonCenter  /* the big main buttons */
{
    width:133px;
    margin:0px auto 0px auto;
}

.smSmallButton /* the small ok/close div buttons at the bottom*/
{
	position: absolute;
	top: 268px;
	min-width: 30px; 
	min-height: 30px;
	background-repeat: no-repeat;
	border: 0px solid #fff;
	margin: 5px 10px 0px 10px;
}

/* small buttons */
#smSBackBut, #smCBackBut { background-image: url('../resources/ui/buttons/close.png'); right: 50px; }
#smSPlayBut, #smCPlayBut { background-image: url('../resources/ui/buttons/ok.png'); right: 5px;}
#smSetOkBut {background-image: url('../resources/ui/buttons/ok.png'); right: 5px;}

/*#smScenSel *//*Scenario selection div */
.smSelect
{
	width: 460px;
	margin: 0px auto 0px auto;
	border: 2px solid grey;
	background: url('../resources/ui/dialogs/startmenu/images/arrow-down.png') no-repeat right;
	overflow: hidden; /* to hide the select widget arrow */
}
/*#smScenSel select*/
.smSelect select
{
	background: transparent;
	font-size: 14px;
	font-weight: bold;
	color:  white;
	width: 480px; /* wider than the container div so we can hide the arrow */
	height: 35px;
	border: 0px;
	 -webkit-appearance: none; /* fix for chrome in windows where background no longer shows */
}
/*#smScenSel option*/
.smSelect option
{
	background-color: #5b5b5b;	
}

#smCampInfo 
{ 
	width: 460px; 
	margin: 0px auto;
	padding-top: 10px;
}
.smCampDetails
{
	float:left; 
	width: 150px; 
	height: 60px;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	color:  white;
	line-height: 30px;
}

/*#smScenDesc *//* Scenario/Campaign description div */
.smDesc
{
	padding-top: 10px;
	width: 460px;
	height: 100px;
	overflow: auto;
	margin:0px auto 0px auto;
 	color: #f8e064; 
	font-weight:normal;
	font-family: Arial;
	font-size: 12px;
	border-bottom: 1px solid #484848;
}
.smSideHeader  /* Header with name of sides */
{
    width: 80px;
    height: 20px;
    margin:0px auto 0px auto;
}
.smSideHeader > img { vertical-align: middle; } /* Side emblem */


#smVS { width: 20px; float: left; }
#smSide0, #smSide1 
{
	float: left;
	width: 47%;
}

#smScenPlayers /* Scenario player big div */
{
	padding-top: 10px;
	width: 470px;
	margin: 0px auto 0px auto;
}

.smPlayerContainer /* Container for each player in scenario */
{	
	width: 200px;
	float: left;
	margin: 0px auto 0px auto;
}
.smPlayerContainer > img { float: right; } /* AI/Human checkbox */

.playerName
{
	float: left;
	margin-top: 5px;
	margin-right: 10px;
	margin-left: 5px;
	font-weight: normal;
	color: white;
}

.playerCountry  /* the country flag for player selection */
{
	margin-top: 5px;
	height: 14px;
	width: 22px;
	background-image: url('../resources/ui/flags/flags_med.png');
	background-repeat: no-repeat;
	background-position: -147px 0px; /*start with german flag 8th flag of 21px each */
	float: left;
}