#unit-info
{
	position: fixed;
	width: 215px;
	height: 375px;
	left:50%;
	margin-left: -107.5px;
	top:50%;
	margin-top: -187.5px;
	color: #f8e064;
	font-weight:bold;
	font-family: Arial;
	font-size: 12px;
	text-shadow: 0.1em 0.1em 0.2em black;
	background-image: url('../resources/ui/dialogs/unit-info/images/unit-info-bg.png');
	z-index:100;
	overflow-y: auto;
	visibility: hidden;
	overflow: hidden;
}

#unit-info #container
{
	position: relative;
	border: 0px #fff solid;
}

#unit-image
{	
	border: 0px #fff solid;
	width: 80px;
	height:50px;
	margin-top:50px;
	margin-left:70px;
	-webkit-animation:unitanim 2s steps(9,end) infinite alternate;
	-moz-animation:unitanim 2s steps(9,end) infinite alternate;
	background:url('../resources/units/images/g87.png');
	
}
#unit-name
{
	border: 0px #fff solid;
	position:absolute;
	top:65px;
	left:30px;
	width:150px;
	text-align: center;
}
#unit-flag
{
	border: 0px #fff solid;
	position:absolute;
	top:90px;
	left:77px;
	width:60px;
	height:34px;
	background-image: url('../resources/ui/flags/flag_big_18.png');
}
#fuel
{
	position:absolute;
	top: 120px;
	left:40px;
}

#ammo
{
	position:absolute;
	top: 120px;
	left:160px;
}
#gunrange
{
	position: absolute;
	top: 155px;
	left:40px;
}
#ini
{
	position: absolute;
	top: 155px;
	left:80px;
}
#spot
{
	position: absolute;
	top: 155px;
	left:120px;
}
#str
{
	position: absolute;
	top: 155px;
	left:160px;
}
#ahard
{
	position: absolute;
	top: 210px;
	left:40px;
}
#asoft
{
	position: absolute;
	top: 210px;
	left:80px;
}
#aair
{
	position: absolute;
	top: 210px;
	left:120px;
}
#anaval
{
	position: absolute;
	top: 210px;
	left:160px;
}
#dhard
{
	position: absolute;
	top: 265px;
	left:40px;
}
#dair
{
	position: absolute;
	top: 265px;
	left:80px;
}
#dclose
{
	position: absolute;
	top: 265px;
	left:120px;
}
#drange
{
	position: absolute;
	top: 265px;
	left:160px;
}
#iokbut
{
	border: 0px solid #fff;
	position: absolute;
	top: 285px;
	left:180px;
	min-width: 20px;
	height:20px;
}

#ireinfbut
{
	border: 0px solid #fff;
	position: absolute;
	top: 285px;
	left:112px;
	min-width: 20px;
	height:20px;
}
#ireinfbut.enabled { background-image: url('../resources/ui/dialogs/unit-info/images/unit-info-reinforce.png');}

#iresupbut
{
	border: 0px solid #fff;
	position: absolute;
	top: 285px;
	left:80px;
	min-width: 20px;
	height:20px;
}
#iresupbut.enabled {	background-image: url('../resources/ui/dialogs/unit-info/images/unit-info-resupply.png');}

#imountbut
{
	border: 0px solid #fff;
	position: absolute;
	top: 285px;
	left:13px;
	min-width: 20px;
	height:20px;
}
#imountbut.enabled {	background-image: url('../resources/ui/dialogs/unit-info/images/unit-info-mount.png'); }

@-webkit-keyframes unitanim
{
	from {background-position:0px;}
	to {background-position:-720px;}
}

@-moz-keyframes unitanim
{
	from {background-position:0px;}
	to {background-position:-720px;}
}
