#unit-info
{
	
	position: absolute;
	width: 220px;
	height: 380px;
	left:50%;
	margin-left: -110px;
	top:50%;
	margin-top: -190px;
	background-image: url('../resources/ui/menu/images/unit-info-bg.png');
}

#unit-info #container
{
	position: relative;
	display: block;
	overflow: hidden;
	border: 0px #fff solid;
}

#unit-info #container #unit-image
{	
	border: 0px #fff solid;
	width: 80px;
	height:50px;
	margin-top:50px;
	margin-left:70px;
	-webkit-animation:unitanim 2s steps(9,end) infinite;
	-moz-animation:unitanim 2s steps(9,end) infinite;
	background:url('../resources/units/images/g87.png');
	
}

@-webkit-keyframes unitanim
{
	from {background-position:0px;}
	to {background-position:-720px;}
}

@-moz-keyframes unitanim
{
	from {background-position:0px;}
	to {background-position:-720px;}
}
