<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
	xmlns:gap   = "http://phonegap.com/ns/1.0"
	id          = "com.linuxconsulting.openpanzer"
	version     = "2.3.0">

	<name>Open Panzer</name>
	<description>
		Open Panzer is a remake of Panzer General 2 using HTML5 and Javascript.
	</description>

	<author href="http://linuxconsulting.ro" email="npavel@linuxconsulting.ro">
		Nicu Pavel
	</author>
	
	<preference name="phonegap-version" value="2.3.0" />
	<preference name="orientation" value="landscape" />
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="true" />
	<!-- iOS specific -->
	<preference name="webviewbounce" value="true" />
	<preference name="prerendered-icon" value="true" />
	<preference name="stay-in-webview" value="true" />
	<preference name="exit-on-suspend" value="true" />
	<preference name="show-splash-screen-spinner" value="true" />
	<preference name="auto-hide-splash-screen" value="true" />
	<!-- Android specific -->
	<preference name="android-minSdkVersion" value="9" /> <!-- 2.3 -->
	<!-- <preference name="android-maxSdkVersion" value="15" /> -->
	<preference name="android-installLocation" value="auto" />
	
	<gap:platforms>
		<gap:platform name="android" minVersion="2.3" />
		<gap:platform name="ios" />
	</gap:platforms>
	
	<icon src="resources/ui/page/icon/icon-57x57.png" gap:platform="android" gap:density="ldpi" />
	<icon src="resources/ui/page/icon/icon-72x72.png" gap:platform="android" gap:density="mdpi" />
	<icon src="resources/ui/page/icon/icon-114x114.png" gap:platform="android" gap:density="hdpi" />
	<icon src="resources/ui/page/icon/icon-144x144.png" gap:platform="android" gap:density="xhdpi" />
	
	<icon src="resources/ui/page/icon/icon-57x57.png" gap:platform="ios" width="57" height="57" />
	<icon src="resources/ui/page/icon/icon-72x72.png" gap:platform="ios" width="72" height="72" />
	<icon src="resources/ui/page/icon/icon-144x144.png" gap:platform="ios" width="144" height="144" />
	
	<gap:splash src="resources/ui/splash/splash-1280x775.png" gap:platform="android" gap:density="xhdpi" />
	<gap:splash src="resources/ui/splash/splash-1280x775.png" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="resources/ui/splash/splash-569x295.png" gap:platform="android" gap:density="ldpi"/>
	<gap:splash src="resources/ui/splash/splash-569x295.png" gap:platform="android" gap:density="mdpi"/>

	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
</widget>